<header>
    <FluentStack HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" VerticalGap="8" Wrap class="graveyard-header">
        <FluentEmoji Value="@(new Emojis.Objects.Color.Default.Headstone())" class="graveyard-img" />
        <h1 class="graveyard-title">Microsoft Graveyard</h1>
    </FluentStack>
</header>
