@inherits LayoutComponentBase

<FluentLayout>
    <FluentCard class="graveyard-layout">
        <Header />

        <div class="content">
            @Body
        </div>

        <FluentAnchor Href="#footer" Appearance="Appearance.Outline" class="floating-action">
            <FluentIcon Value="@(new Icons.Regular.Size16.ArrowDown())" Color="Color.Neutral" />
        </FluentAnchor>

        <Footer />
    </FluentCard>

    <FluentDialogProvider />
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
