<section id="graveyard">
    <FluentStack VerticalAlignment="VerticalAlignment.Center" VerticalGap="48"
        HorizontalAlignment="HorizontalAlignment.Center" HorizontalGap="64" Wrap>
        @for (int i = 0; i < 15; i++)
        {
            @SkeletonTemplate
        }
    </FluentStack>
</section>

@code
{
    private RenderFragment SkeletonTemplate =>
    @<FluentCard class="corpse-card" MinimalStyle>
        <FluentStack class="corpse-header" HorizontalAlignment="HorizontalAlignment.Start" >
            <FluentSkeleton Shape="SkeletonShape.Circle" Width="25%" Height="75px" Shimmer=true />
            <FluentStack Orientation="Orientation.Vertical">
                <FluentSkeleton Shape="SkeletonShape.Rect" Width="60%" Height="24px" Shimmer=true />
                <FluentSkeleton Shape="SkeletonShape.Rect" Width="60%" Height="16px" Shimmer=true />
            </FluentStack>
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="10%" Height="30px" class="corpse-link" Shimmer=true />
        </FluentStack>

        <FluentStack Orientation="Orientation.Vertical">
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="16px" class="corpse-text" Shimmer=true />
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="16px" class="corpse-text" Shimmer=true />
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="16px" class="corpse-text" Shimmer=true />
        </FluentStack>
    </FluentCard>;

}
