/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@import url('bootstrap/dist/css/bootstrap.css');

:root {
  --primary: #c0c0c0;
  --secondary: #ececec;
  --tertiary: #333333;
  --body-bg: #171717;

  --threads-bg: radial-gradient(circle at 30% 107%,
      #ffd600 0%,
      #ffd600 10%,
      #ff7a00 20%,
      #ff0069 50%,
      #d300c5 75%,
      #7638fa 90%);
  --github-bg: #333333;
  --outlook-bg: #127CD6;
}

html,
body {
  background: var(--body-bg);
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

.text-primary {
  color: var(--primary) !important;
}

a,
.btn-link {
  color: var(--primary);
  text-decoration: none !important;
  border-bottom: 1px dotted #7f7f7f;
}

a:hover {
  color: #ffffff !important;
  border-bottom: none;
}

.btn-social {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: 2px solid #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  display: grid !important;
  place-items: center !important;
  text-decoration: none !important;
}

.btn-social:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.btn-social img {
  transition: all 0.3s;
}

.btn-social:hover img {
  transform: scale(1.15);
}

.btn-social:hover:nth-child(1) {
  background: var(--threads-bg)
}

.btn-social:hover:nth-child(2) {
  background: var(--github-bg);
}
