<footer class="d-flex flex-column justify-content-center mr-auto p-3 mw-90">
    <Header />

    <SocialButtons Socials=@_socials/>

    <div class="d-flex flex-column justify-content-center text-center pt-3" style="max-width: 90%; width: 60rem">
        <p>
            Microsoft Graveyard is the virtual graveyard for all products killed by Microsoft;
            a free and open source collection of dead Microsoft products built by a passionate and nostalgic community.
            Our objective as a community is to provide factual, historic information for the products listed here.
            If something is missing, inaccurate, or you have a suggestion, visit and contribute to the 
            <a href="https://github.com/victorfrye/microsoftgraveyard" target="_blank">project on GitHub</a>.
        </p>

        <p><strong>This site is NOT affiliated with Microsoft in any way.</strong></p>

        <p>
            The Microsoft Graveyard project was inspired and heavily influenced by the
            <a href="https://killedbygoogle.com/" target="_blank">Killed by Google</a> project.
        </p>

        <p>©2024 Victor Frye</p>
    </div>
</footer>

@code {
    private List<Social> _socials = 
    [
        new(
            name: "Threads",
            userUrl: "https://threads.net/@microsoftgraveyard",
            iconUrl: "/images/threads.svg"
        ),
        new(
            name: "GitHub",
            userUrl: "https://github.com/victorfrye/microsoftgraveyard",
            iconUrl: "/images/github.svg"
        )
    ];
}
