<header class="d-flex justify-content-center p-3 my-4">
    <div class="d-flex align-items-center my-1">
        <img src="/images/headstone.svg" alt="Microsoft Graveyard Logo" class="d-block img-graveyard">
        <h1 class="d-block">Microsoft Graveyard</h1>
    </div>
</header>
