<div class="d-socials d-flex flex-row flex-nowrap mb-3 pb-3">
    <a href="https://threads.net/@@microsoftgraveyard" target="_blank" class="btn-link btn-social px-2">
        <img src="/images/threads.svg" alt="Threads" class="img-social" />
    </a>
    <a href="https://github.com/victorfrye/microsoftgraveyard" target="_blank" class="btn-link btn-social px-2">
        <img src="/images/github.svg" alt="GitHub" class="img-social" />
    </a>
</div>
