<div class="d-flex flex-row flex-nowrap gap-3 p-0 pb-3">
    @foreach (var social in Socials)
    {
        @ButtonTemplate(social)
    }
</div>

@code {
    [Parameter]
    public IList<Social> Socials { get; set; } = [];

    private RenderFragment<Social> ButtonTemplate = (social) =>
    @<a href=@social.UserUrl target="_blank" class="btn-link btn-social">
        <img src=@social.IconUrl alt=@social.Name class="img-social" />
    </a>;
}
