<footer class="d-flex flex-column justify-content-center mr-auto p-3 mw-90">
    <HeaderLayout />

    <Socials />

    <div class="d-flex flex-column justify-content-center text-center pt-3" style=" max-width: 90%; width: 60rem">
        <p>
            Microsoft Graveyard is the virtual graveyard for all products killed by Microsoft;
            a free and open source collection of dead Microsoft applications, devices, systems, services, games, and
            more.
            This site is a passion project built because we have lovingly used many of these products before
            their untimely death.
            We aim to provide factual, historic information for products listed here.
            If something is missing, inaccurate, or you have a suggestion, visit and contribute to the 
            <a href="https://github.com/victorfrye/microsoftgraveyard" target="_blank">project on GitHub</a>.
        </p>

        <p><strong>This site is NOT affiliated with Microsoft in any way.</strong></p>

        <p>
            The Microsoft Graveyard project was inspired and heavily influenced by the Killed by Google project.
        </p>

        <p>
            ©2024 Victor Frye
        </p>
    </div>
</footer>