<footer class="d-flex flex-column justify-content-center mt-auto p-3">
    <div class="d-inline-flex ">
        <img src="/images/headstone_dark.svg" alt="Microsoft Graveyard Logo" class="img-graveyard">
        <h1>Microsoft Graveyard</h1>
    </div>

    <p>
        Microsoft Graveyard is the virtual graveyard for all products killed by Microsoft;
        a free and open source catalog of dead Microsoft systems, services, games, devices, and more.
        We aim to be a source of factual information about the history surrounding products killed by Microsoft and those soon-to-be killed.
        This site is a passion project built because we have used and loved many of these killed products before their untimely death.
        This site is NOT affiliated with Microsoft in any way.
    </p>

    <p>
        The catalog of dying and dead Microsoft products is compiled, researched, and maintained by open-source contributors. If something is missing or inaccurate, visit the project on GitHub.
    </p>

    <p>
       This project was inspired and heavily influenced by the Killed by Google project.
    </p>

    <p>
        ©2024 Victor Frye
    </p>
</footer>