<header class="d-flex justify-content-center mt-auto p-3">
    <div class="d-inline-flex align-items-center my-2 p-3">
        <img src="/images/headstone.svg" alt="Microsoft Graveyard Logo" class="img-graveyard">
        <h1>Microsoft Graveyard</h1>
    </div>
</header>