@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">

    <div class="d-flex flex-column mb-auto">
        <div class="d-flex flex-column text-light">
            <HeaderLayout />

            <main class="">
                @Body
            </main>

            <FooterLayout />
        </div>
    </div>

</div>
